
.active {
  background-color: black;
  color: white !important;

  &:hover {
    background-color: #555 !important;
  }
}

.container {
  a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    color: black;

    &:hover {
      background-color: #eee;
    }

  }
  display: flex;
  justify-content: space-between;
  gap: 0px;
}